

h1
{
	color: blue;
}

.container
{
	background-color: lightcyan;
	width: 1180px;
	height: 158px;
	text-align: center;
	font-family: cursive;
	color: gray;
	font-size : 25px;
	border-style: solid;
	border-width: 6px;
	border-color: tomato;
	margin: 25px;
	
}

#id1
{
	background-color: pink;
	border-style: groove;
	border-width: 4px;
	border-color: lightcyan;
	padding: 25px;
	margin: 25px;
	box-shadow: 5px 10px;
}
	